# Zero to Hero

## 1.09 Dividir en Training y Testing
## version libreria caret

El objetivo es hacer una division del dataset en training/testing que sea estratificada en la clase
<br>
https://es.wikipedia.org/wiki/Muestreo_estratificado

In [1]:
rm( list=ls())
gc()

library( "data.table")   #cargo la libreria  data.table
library( "rpart")  #cargo la libreria  rpart
library( "rpart.plot")

options(repr.plot.width=20, repr.plot.height=10) 
setwd("C:/Archivos/dmeyf")  #se establece el directorio de trabajo

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  555389 29.7 1175895    62.8 1003440  53.6
Vcells 1014911  7.8 8388608    64.0 1632009  12.5

In [2]:
dataset <- data.table::fread("./datasetsOri/paquete_premium_202009.csv")   #cargo el dataset

In [3]:
library("caret")

Loading required package: lattice

Loading required package: ggplot2

https://www.rdocumentation.org/packages/caret/versions/6.0-88/topics/createDataPartition
<br>
la funcion  **createDataPartition** devolverá un vector de posiciones, las que cumplen con la particion indicada
<br>
*p= 0.5* significa que queremos el 50% de los registros
<br>
*dataset$clase_ternaria*   es el vector con la clase ternaria, que es por donde se estratificará
<br>

In [4]:
train_rows <- createDataPartition(dataset$clase_ternaria, p= 0.50, list= FALSE)

veamos que ha quedado en  los primeros registros del vector **train_rows**

In [5]:
head( train_rows )

     Resample1
[1,]  2
[2,]  6
[3,] 10
[4,] 13
[5,] 14
[6,] 15

Aqui ya vemos que la particion tiene a los registros 7, 8, 9, 11, 12, 13
El complemento, los registro 1, 2, 3, 4, 5, 6, 10

ahora creamos los datasets de training y testing

In [6]:
dtrain <- dataset[ train_rows]

-train_rows  significa el complemento  (no confundir con numeros negativos)

In [7]:
dtest <- dataset[ -train_rows]

Compruebo la division

In [8]:
nrow( dtrain)
nrow( dtest )
nrow(dtrain) + nrow(dtest)
nrow( dataset)

[1] 117678

[1] 117676

[1] 235354

[1] 235354

In [ ]:
Compruebo que la particion es estratificada

In [9]:
dataset[  , .N, clase_ternaria]
dtrain[  , .N, clase_ternaria]
dtest[  , .N, clase_ternaria]

  clase_ternaria N
1 CONTINUA       233894
2 BAJA+2            775
3 BAJA+1            685

  clase_ternaria N
1 CONTINUA       116947
2 BAJA+2            388
3 BAJA+1            343

  clase_ternaria N
1 CONTINUA       116947
2 BAJA+1            342
3 BAJA+2            387

La division se ha construido en forma estratificada

La cantidad de BAJA+2 es 975,  un numero impar, con lo cual al dividir en dos partes, una necesariamte debe tener un BAJA+2  adicional, con lo que una particion tiene 488 y la otra 487
488 + 487 = 875